## NODE_ENV
NODE_ENV=<environment>
PORT=<port>

## Database Setup
DEV_DATABASE_URL=mongodb+srv://<username>:<password>@<cluster>/<dbname>?retryWrites=true&w=majority
PROD_DATABASE_URL=
TEST_DATABASE_URL=

## Jwt Setup
JWT_SECRET=<secret>
JWT_EXPIRE=<expire date e.g 20d>

## Cloudinary Setup
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
